<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'Login/Bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Login/Bootstrap/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Login/custum.css' %}">
    <link rel="image" type="image" href="{% static 'Login/images/map.png' %}">
    <title>Login</title>
  </head>
  <body>
    <div class="jumbotron" style="background-color:#FF6600;margin-bottom: 0px;opacity:.8">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h1 style="font-size:35px;font-family:serif!important;color:#fff">
              <center>THE<br><strong>PERFECT<br>MATCH</strong></center>
            </h1>
          </div>
          <div class="col-sm-6">
            <center>
              <form action="{% url 'Login:verify_login' %}" method="post" style="margin-top:30px">
                <div class="form-inline" style="margin-bottom:10px">
                  <label for="username" style="color:#fff;margin-right:5px">UserName</label>
                  <input type="text" name="username" placeholder="User Name" class="form-control" style="border-radius: 2px;" required>
                </div>
                <div class="form-inline" style="margin-bottom:15px">
                  <label for="pwd" style="color:#fff;margin-right:5px">Password</label>
                  <input type="password" name="password" placeholder="Password" class="form-control" style="border-radius: 5px;" required>
                </div>
                <div class="form-inline" style="margin-bottom:10px">
                  <label for="gender" style="color:black;width:120px">Gender</label>
                    <div class="checkbox">
                      <label><input type="radio" value="male" name="gender" required>Male</label>
                    </div>
                    <div class="checkbox">
                      <label><input type="radio" value="female" name="gender" required>Female</label>
                    </div>
                </div>
                <button type="submit" name="submit" class="btn btn-primary btn-md" style="border-radius: 5px;" aria-label="left-align">Login
                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </button>
              </form>
            </center>
          </div>
        </div>
      </div>
    </div>
    <div class="login_bottom">
      <div class="container" style="font-size:15px">
        <!-- Block should come here -->
        <div class="row"  style="margin-top:30px">
          <div class="col-sm-5 col-sm-offset-7">
            <form action="{% url 'Login:Register' %}" method="post" enctype='multipart/form-data'>
              <div class="form-inline" style="margin-bottom:10px">
                <label for="email" style="color:black;width:120px">Email-Id</label>
                <input type="email" name="email" placeholder="Email-Id" class="form-control" style="border-radius: 2px" required>
              </div>
              <div class="form-inline" style="margin-bottom:10px">
                <label for="username" style="color:black;width:120px">User Name</label>
                <input type="text" name="uname" placeholder="User Name" class="form-control" style="border-radius: 2px" required>
              </div>
              <div class="form-inline" style="margin-bottom:10px">
                <label for="username" style="color:black;width:120px">Password</label>
                <input type="password" name="pass" placeholder="Password" class="form-control" style="border-radius: 2px" required>
              </div>
              <div class="form-inline" style="margin-bottom:10px">
                <label for="password_again" style="color:black;width:120px">Password(again)</label>
                <input type="password" name="password" placeholder="Password(again)" class="form-control" style="border-radius: 2px" required>
              </div>
              <div class="form-inline" style="margin-bottom:10px">
                <label for="FirstName" style="color:black;width:120px">First Name</label>
                <input type="text" name="fname" placeholder="First Name" class="form-control" style="border-radius: 2px" required>
              </div>
              <div class="form-inline" style="margin-bottom:10px">
                <label for="LastName" style="color:black;width:120px">Last Name</label>
                <input type="text" name="lname" placeholder="Last Name" class="form-control" style="border-radius: 2px" required>
              </div>
              <div class="form-inline" style="margin-bottom:10px">
                <label for="mobile_number" style="color:black;width:120px">Mobile Number</label>
                <input type="text" name="m_no" placeholder="Mobile Number" class="form-control" style="border-radius: 2px" required>
              </div>
              <div class="form-inline" style="margin-bottom:10px">
                <label for="date_of_birth" style="color:black;width:120px">Date Of Birth</label>
                <input type="date" name="dob" placeholder="YYYY-MM-DD" class="form-control" style="border-radius: 2px" required>
              </div>
              <div class="form-inline" style="margin-bottom:10px">
                <label for="profile_picture" style="color:black;width:120px">Profile Picture</label>
                <label class="btn btn-default btn-file">Browse <input type="file" style="border-radius: 2px;" name = "profile_pic" required></label>
              </div>
              <div class="form-inline" style="margin-bottom:10px">
                <label for="gender" style="color:black;width:120px">Gender</label>
                  <div class="checkbox">
                    <label><input type="radio" value="male" name="gender">Male</label>
                  </div>
                  <div class="checkbox">
                    <label><input type="radio" value="female" name="gender">Female</label>
                  </div>
              </div>
              <div class="form-inline" style="margin-bottom:10px">
                <label for="premium_user" style="color:black;width:120px">Want to be a premium user</label>
                  <div class="checkbox">
                    <label><input type="radio" value="yes" name="premium">Yes</label>
                  </div>
                  <div class="checkbox">
                    <label><input type="radio" value="no" name="premium">No</label>
                  </div>
              </div>
              <center>
                <button type="submit" name="submit" class="btn btn-primary btn-md" style="border-radius: 5px;" aria-label="left-align">Register
                  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </button>
              </center>
            </form>
            <br><br><br>
          </div>
        </div>
      </div>
    </div>
</html>
